.share {
  img { width: 300px };

  section {
    padding-top: 100px;
    h2 { font-size: 2em; }
    p {
      font-size: 1em;
      font-weight: normal;
    }
    .description { font-weight: 100; }
  }
}
